@include container();

.mainContents {
    width:100%;
    height: 75vh;
    background-size: cover;
    background: no-repeat fixed center;
    position: relative;

    h1{
        position: absolute;
        font-family: 'Josefin Sans', sans-serif;
        bottom:30px;
        left: 30px;
        color:#fff;
        opacity: 0.7;
        font-weight: bold;
        font-size: 70px;
    }
}
.sitetop {
    height: 100vh;
}
@for $i from 1 through 2{
    .top#{$i} {
        background-image: url('../../img/top#{$i}.jpg');
    }
}

.profile {

  & &Icon{
    display: inline-block;
    width: 30%;
    height: 30vh;
    text-align: center;
    img{
      border-radius: 50%;
      height: 30vh;
    }
  }
  & &Head{
    display: inline-block;
    width: 70%;
    height: 30vh;
  }
}
